<div class="container mt-5">
  <h2 class="text-center mb-4"><%= params[:word] %>の検索結果</h2>
  
  <table class="table table-hover">
    <!--検索対象モデルがUserの時 -->
    <% if @range == "User" %>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(80, 80), class: "rounded-circle" %></td>
            <td class="px-200"><%= link_to user.name, user_path(user.id) %></td>
            <td><%= link_to user.followings.count, user_followings_path(user) , style: 'font-size: 15px' %>&thinsp;フォロー</td>
            <td><%= link_to user.followers.count, user_followers_path(user), style: 'font-size: 15px' %>&thinsp;フォロワー</td>
            <!--フォローボタン-->
            <td>
              <% if current_user.following?(user) %>
                <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %>
              <% else %>
                <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to(post.user) do %>
                <%= image_tag post.user.get_profile_image(50,50), class: "rounded-circle" %><br>
                <%= post.user.name %>
              <% end %>
            </td>
            <td class="px-1"><%= link_to post.title, post %></td>
            <td class="px-1">
              <% post.tasks.each do |task| %>
                <td>
                  <%= task.content %>
                </td>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>