<table class='table'>
  <tr><%= image_tag user.get_profile_image(100, 100) %></tr>
  <tr>
	  <th>名前</th>
	    <th><%= link_to user.name, user_path(user.id) %></th>
  </tr>
  <tr>
	  <th>プロフィール</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>
      <% if user == current_user %>
        <div class='row'>
          <!--編集ボタン-->
          <%= link_to edit_user_path(user), class: "btn btn-outline-success btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
      <% else %>
        <!--ログインユーザー以外ならフォロー、フォロー解除になる-->
        <% if current_user.following?(user) %>
          <%= link_to "フォロー解除", user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "フォロー", user_relationships_path(user.id), method: :post, class: "btn btn-outline-primary" %>
        <% end %>
      <% end %>
    </th>
  </tr>
  <tr>
	  <th><%= link_to user.followings.count, user_followings_path(user) , style: 'font-size: 15px' %><span style="font-size: 13px">フォロー</span></th>
	  <th><%= link_to user.followers.count, user_followers_path(user), style: 'font-size: 15px' %><span style="font-size: 13px">フォロワー</span></th>
  </tr>
  <tr>
	  <th>
	    <%= link_to posts_path do %>
        <i class="fas fa-home"></i>&emsp;タイムライン
      <% end %>
    </th>
  </tr>
  <!--<tr>-->
	 <!-- <th>-->
	 <!--   <%#= link_to root_path do %>-->
  <!--      <i class="fas fa-book-open"></i>&emsp;ブックマーク※--><!--ブクマ機能は時間がある時に実装予定-->
  <!--    <%# end %>-->
  <!--  </th>-->
  <!--</tr>-->
  <!--<tr>-->
	 <!-- <th>follows</th>-->
	 <!-- <th><%#= link_to user.followings.count, followings_user_path(user) %></th>-->
  <!--</tr>-->
  <!--<tr>-->
	 <!-- <th>followers</th>-->
	 <!-- <th><%#= link_to user.followers.count, followers_user_path(user) %></th>-->
  <!--</tr>-->
  <tr>
    <th>
      <% if user_signed_in? %>
        <div class="search_form">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word %>
            <%= f.select :range, options_for_select([['User'], ['Post']]) %>
            <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
            <%= f.submit "検索", class: "btn btn-outline-info btn-sm" %>
          <% end %>
        </div>
      <% end %>
    </th>
  </tr>
</table>


  <div>
    <% if user == current_user %>
      <!--ログアウト-->
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %><br>
      <!--退会ボタン-->
      <% if user_signed_in? %>
        <%= link_to "退会", confirm_unsubscribe_path, class:"btn btn-danger btn-sm" %>
      <% end %>
    <% end %>
  </div>
  