<table>
  <tbody>
      <% post.comments.each do |comment| %>
      <tr>
        <td class="align-middle pr-4">
          <%= link_to(comment.user) do %>
            <%= image_tag comment.user.get_profile_image(50,50), class: "rounded-circle" %><br>
            <%= comment.user.name %>
          <% end %>
        </td>
        <td class="align-middle">
          <div class="d-flex align-items-center pr-4">
            <%= comment.comment %>
          </div>
        </td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to '削除', post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>