<table>
  <tbody>
      <% post.comments.each do |comment| %>
      <tr>
        <td>
          <%= link_to(post.user) do %>
            <%= image_tag comment.user.get_profile_image(50,50) %><br>
            <%= comment.user.name %>
          <% end %>
        </td>
        <td>
          <%= comment.comment %>
        </td>
        <td>
          <% if comment.user == current_user %>
            <%= link_to '削除', post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>