<!--投稿一覧-->
<table class='table table-hover table-inverse'>
<% posts.each do |post| %>
  <tbody>
    <tr>
        <td>
            <!--投稿したユーザーと紐づくアイコン-->
            <%= link_to(post.user) do %>
                <%= image_tag post.user.get_profile_image(50,50), class: "rounded-circle" %><br>
                <%= post.user.name %>
            <% end %>
        </td>
        <td><%= link_to post.title, post %></td>
        <!--いいね機能-->
        <td>
            <% if post.favorited?(current_user) %>
              <p>
              <%= link_to post_favorites_path(post.id), method: :delete do %>
                <%= post.favorites.count %><i class="fas fa-thumbs-up"></i>
              <% end %>
              </p>
              <% else %>
              <p>
              <%= link_to post_favorites_path(post.id), method: :post do %>
                <%= post.favorites.count %><i class="far fa-thumbs-up"></i>
              <% end %>
              </p>
            <% end %>
        </td>
        <td>
            <% if post.user == current_user %>
                <%= link_to "削除", post, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
            <% end %>
        </td>

    </tr>
  <tbody>
<% end %>
</table>
