<div class="container mt-5">
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <!--左側のユーザープロフィール-->
      <div class='col-md-3'>
        <%= render 'user/users/info', user: @post.user %>
        <!--投稿新規作成ボタン-->
          <div class="d-flex justify-content-end">
            <div class="ml-auto">
              <%= render 'post-push' %>
            </div>
          </div>
      </div>
      
      <!--右側の投稿詳細-->
      <div class='col-md-8 offset-md-1'>
        <h2>投稿詳細</h2>
        <table class='table'>
          <tr>
            <!--投稿したユーザーと紐づくアイコン-->
            <td><%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image(50,50) %><br>
              <%= @post.user.name %>
              <% end %>
            </td>
            
            <td><%= @post.title %></td>
            
            <!--いいね機能-->
            <td>
              <%= render 'user/favorites/fav', post: @post %>
            </td>
            
            <!--コメント数-->
            <td>
              <%= @post.comments.count %><i class="far fa-comment"></i>
            </td>
            <td>
              <% if @post.user == current_user %>
                <%= link_to "削除", @post, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          <tr>
            <td>
              <% if @post.list1 == current_user %><!--途中。分岐の書き方調べる-->
                <%= @post.list1 %>&emsp;<%= check_box_tag 'list1_checkbox', checked: true %>
              <% else %>
                <%= @post.list1 %>&emsp;<%= check_box_tag 'list1_checkbox', checked: false %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><%= @post.list2 %>&emsp;<%= check_box_tag 'list2_checkbox' %></td>
          </tr>
          <tr>
            <td><%= @post.list3 %>&emsp;<%= check_box_tag 'list3_checkbox' %></td>
          </tr>
          <tr>
            <td><%= @post.list4 %>&emsp;<%= check_box_tag 'list4_checkbox' %></td>
          </tr>
          <tr>
            <td><%= @post.list5 %>&emsp;<%= check_box_tag 'list5_checkbox' %></td>
          </tr>
          <tr>
            <td><%= @post.list6 %>&emsp;<%= check_box_tag 'list6_checkbox' %></td>
          </tr>
          <tr>
            <td><%= @post.list7 %>&emsp;<%= check_box_tag 'list7_checkbox' %></td>
          </tr>
          <tr>
            <td><%= @post.list8 %>&emsp;<%= check_box_tag 'list8_checkbox' %></td>
          </tr>
          <tr>
            <td><%= @post.list9 %>&emsp;<%= check_box_tag 'list9_checkbox' %></td>
          </tr>
          <tr>
            <td><%= @post.list10 %>&emsp;<%= check_box_tag 'list10_checkbox' %></td>
          </tr>
        </table>
        
        <!--コメント一覧-->
        <h4>コメント</h4>
        <div class="form-group">
          <%= render 'user/comments/comment', post: @post %>
        </div>
        
        <!--コメントフォーム-->
        <div id="comment-form">
          <%= render 'user/comments/form', post: @post, comment: @comment %>
        </div>
      </div>
    </div>
  </div>
</div>