<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!--左側のユーザープロフィール-->
    <div class='col-md-3'>
      <%= render 'user/users/info', user: @post.user %>
    </div>
    
    <!--右側の投稿詳細-->
    <div class='col-md-8 offset-md-1'>
      <h2>投稿詳細</h2>
      <table class='table'>
        <tr>
          <!--投稿したユーザーと紐づくアイコン-->
          <td><%= link_to(@post.user) do %>
            <%= image_tag @post.user.get_profile_image(50,50) %><br>
            <%= @post.user.name %>
            <% end %>
          </td>
          
          <td><%= @post.title %></td>
          <!--いいね機能-->
                <!--<td class="fav_<%#= post.id %>">-->
                <!--  <%#= render 'favorites/fav', post: post %>-->
                <!--</td>-->
                
                <!--コメント数-->
                <td>
                  <%= @post.comments.count %><i class="far fa-comment"></i>
                </td>
          <td>
            <% if @post.user == current_user %>
              <%= link_to "削除", @post, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        <tr>
          <td><%= @post.list1 %></td>
        </tr>
        <tr>
          <td><%= @post.list2 %></td>
        </tr>
        <tr>
          <td><%= @post.list3 %></td>
        </tr>
        <tr>
          <td><%= @post.list4 %></td>
        </tr>
        <tr>
          <td><%= @post.list5 %></td>
        </tr>
        <tr>
          <td><%= @post.list6 %></td>
        </tr>
        <tr>
          <td><%= @post.list7 %></td>
        </tr>
        <tr>
          <td><%= @post.list8 %></td>
        </tr>
        <tr>
          <td><%= @post.list9 %></td>
        </tr>
        <tr>
          <td><%= @post.list10 %></td>
        </tr>
      </table>
      
      <!--コメント一覧-->
      <h4>コメント</h4>
      <div id="comments">
        <%= render 'user/comments/comment', post: @post %>
      </div>
      
      <!--コメントフォーム-->
      <div id="comment-form">
        <%= render 'user/comments/form', post: @post, comment: @comment %>
      </div>
    </div>
  </div>
      <!--投稿新規作成ボタン-->
    <div class='col-md-8 offset-md-1'>
      <div class="position-absolute bottom-0 start-0">
        <%= render 'post-push' %>
      </div>
    </div>
</div>