<div class='container px-5 px-sm-0 mt-5'>
  <div class='row'>
    <!--左側のログアウト-->
    <div class='col-md-3'>
        <h2>会員詳細</h2><br>
        <% if admin_signed_in? %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-danger btn-sm" %>
        <% end %>
    </div>
  
   <!--右側の投稿一覧画面-->
    <div class='col-md-8'>
      <h2><%= @user.name %>さんの会員詳細</h2>
      <table class='table'>
        <tr>
          <td>
            <%= image_tag @user.get_profile_image(100, 100) %>
          </td>
        </tr>
        <tr>
      	  <th>プロフィール</th>
      	  <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th style="width: 20%">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
            <tbody>
              <tr>
                <th>投稿タイトル</th><th style="width: 20%">投稿リスト</th>
              </tr>
              <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                
                <td style="width: 20%"><%= post.list1 %></td>
                <td style="width: 20%"><%= post.list2 %></td>
                <td style="width: 20%"><%= post.list3 %></td>
                <td style="width: 20%"><%= post.list4 %></td>
                <td style="width: 20%"><%= post.list5 %></td>
                <td style="width: 20%"><%= post.list6 %></td>
                <td style="width: 20%"><%= post.list7 %></td>
                <td style="width: 20%"><%= post.list8 %></td>
                <td style="width: 20%"><%= post.list9 %></td>
                <td style="width: 20%"><%= post.list10 %></td>
                <!--<td>-->
                <!--管理者が会員の投稿を消す機能（エラーが出るので後回し）-->
                <!--  <%#= link_to "削除", post, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>-->
                <!--  <%# if user_signed_in? && current_user.admin? && current_user.id == p.user_id  %>  -->
                <!--   <%#= button_to "削除する", post_path(p.id), method: :delete %>-->
                <!--  <%# end %>-->
                <!--</td>-->
              </tr>
              <% end %>
            </tbody>

      </table>
    </div>
  </div>
</div>
